article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: none; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  font-size: 100%;
  font-family: "jaf-facitweb", "Avenir Next", Verdana, sans-serif;
  font-weight: 400;
  text-align: left;
  color: white; }

header {
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 800;
  line-height: 0.5;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.33); }

h1 {
  display: none; }

canvas {
  display: block;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: 0; }

input, textarea {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -webkit-touch-callout: default; }

input[type="number"] {
  width: 100%;
  max-width: 3em;
  padding: 0;
  margin: 0; }

.loading {
  position: absolute;
  text-align: center;
  padding: 50% 0 0 0;
  font-size: 3em;
  font-weight: 800;
  bottom: 0;
  right: 0;
  float: left;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%; }

.main {
  font-size: 1.25em;
  width: 100.3%;
  height: 480px;
  overflow: hidden;
  height: 320px;
  background: #CCC;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333; }

.columns, .sub-columns {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none; }

.col, .sub-col {
  width: 100%;
  height: 100%;
  background: #007356;
  display: block;
  float: left;
  padding: 0 0.5em;
  margin: 0; }

.sub-col + .sub-col {
  border-top: 1px solid #333; }

.subs {
  padding: 0; }

.col1 {
  width: 16.66667%; }

.col2 {
  width: 33.33333%; }

.sub-columns {
  height: 50%; }

/* Modules */
.module {
  border-right: 1px solid #333;
  -webkit-box-shadow: inset 0 0 1px white;
  -moz-box-shadow: inset 0 0 1px white;
  box-shadow: inset 0 0 1px white;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.module--closed {
  width: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.module--open {
  width: 100%;
  padding: 0 1em;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.module--toggle {
  display: none; }

.module--open .module--toggle {
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.module-form {
  height: 12em;
  float: left;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: top left;
  height: 1em;
  position: relative;
  left: 50%;
  margin-left: 0.5em; }

.module-label {
  display: block;
  font-size: 0.66em;
  font-weight: 400;
  text-shadow: -2px 0 0 rgba(0, 0, 0, 0.33);
  position: relative;
  text-align: center;
  bottom: 2em;
  display: block;
  -webkit-transform-origin: top center;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.module-range {
  display: block;
  width: 11.5em;
  height: 1em;
  position: relative;
  float: left;
  top: -1em;
  -webkit-transform-origin: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
  transition: all; }

.module-output {
  display: block;
  -webkit-transform-origin: bottom left;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 2em;
  margin-bottom: -0.5em;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.33);
  text-align: center; }

/* "Grips" on sliders

.module-range::-webkit-slider-thumb::before {
	content: "\2630";
	display: block;
	text-align: center;
	font-size: 1em;
	width: 1em;
	height: 1em;
	line-height: 1.1;
	font-family: Helvetica;
	color: #444;
	text-shadow: 0 0 2px rgba(#000, 0.5);
	@include transform(rotate(90deg));
}

*/
.module-range::-webkit-slider-thumb {
  background: #333;
  width: 1.25em;
  padding: 0 0 1em 0 !important;
  height: 1.25em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

​
.module-play {
  background: #007356; }

.m-play-controls {
  float: left;
  height: 100%;
  background: #CCC;
  width: 130px; }

.m-play-grid {
  float: right;
  background: #CCC;
  width: auto;
  margin: -49px -1em 0 0; }

.m-play-button {
  width: 40px;
  height: 40px;
  background: #008c69;
  padding: 0;
  margin: 0;
  line-height: 2;
  text-align: center;
  -webkit-box-shadow: inset 0 0 1px white;
  -moz-box-shadow: inset 0 0 1px white;
  box-shadow: inset 0 0 1px white; }

.m-play-button.module--hold {
  background: #CCC; }

.module-osc {
  background: #008c69;
  z-index: 10; }

.module-osc-wave {
  display: block;
  position: relative;
  float: left;
  background: #007356 url("../images/waves.svg") center 60% no-repeat;
  background-size: 300px 50%;
  height: 4em;
  width: 20%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.module-flick-header {
  background: #008c69;
  padding-bottom: 0.2em;
  display: block;
  margin-top: 0em;
  font-size: 0.5em;
  width: 100%;
  text-align: center; }

.module-osc-wave[data-wave="saw"] {
  background-position: 0 60%; }

.module-osc-wave[data-wave="noise"] {
  background-position: -3em 60%; }

.module-osc-wave[data-wave="pulse"] {
  background-position: -6em 60%; }

.module-osc-wave[data-wave="square"] {
  background-position: -9em 60%; }

.module-osc-wave[data-wave="triangle"] {
  background-position: -12em 60%; }

.module-filter {
  background: #00a67c; }

.m-filter-pad {
  background: #007356;
  width: 6.9em;
  height: 10em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: inset 0 0 1px white;
  -moz-box-shadow: inset 0 0 1px white;
  box-shadow: inset 0 0 1px white;
  border: 1px solid #333;
  float: left; }

.module-effect {
  background: #00bf8f; }

.module-master {
  background: #00d9a2; }

/* Flickable Modules */
/* Flickable wrapper */
.module-flick {
  overflow: hidden;
  clear: left;
  position: relative; }

/* Scrolling container */
.module-flick-wrap {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* Flickable items */
.module-flick-item {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: auto; }

/* Item indicator wrapper */
.flickableIndicator {
  text-align: center;
  line-height: 1em; }

/* Item indicator */
.flickableIndicator span {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 0 0.125em;
  background-color: #FFF;
  border: 1px solid #007356;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-shadow: inset 0 0 1px black;
  -moz-box-shadow: inset 0 0 1px black;
  box-shadow: inset 0 0 1px black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

/* Active item indicator */
.flickableIndicator .flickableIndicatorActive {
  background-color: #008c69; }

.slideshowNavigation {
  display: none; }
